GRAPHSCOPE_API_PORT=47321
GRAPHSCOPE_DATA_DIR=
GRAPHSCOPE_DB_PROFILE=development
GRAPHSCOPE_DB_HOST=127.0.0.1
GRAPHSCOPE_DB_PORT=5432
GRAPHSCOPE_DB_USER=graphscope
GRAPHSCOPE_DB_PASSWORD=graphscope
GRAPHSCOPE_DB_NAME=graphscope
GRAPHSCOPE_GITHUB_CLIENT_ID=
